<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @meeting.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<p>
  <strong>Starts on:</strong>
  <%= @meeting.starts_on %>
</p>

<p>
  <strong>Ends on:</strong>
  <%= @meeting.ends_on %>
</p>

<p>
  <strong>Participant:</strong>
  <%= @meeting.participant_id %>
</p>

<p>
  <strong>Recruiter:</strong>
  <%= @meeting.recruiter_id %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
