<!DOCTYPE html>
<html>
  <head>
    <title>Recruitr2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    </br>
    </br>
    <b style="font-size: 10px"><%= link_to "Homepage", root_path %></b> 
  </body>
</html>
