<%= form_with(model: score_card, local: true) do |form| %>
  <% if score_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(score_card.errors.count, "error") %> prohibited this score_card from being saved:</h2>

      <ul>
        <% score_card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :dynamism %>
    <%= form.select :dynamism, (0..5) %>
  </div>

  <div class="field">
    <%= form.label :interest %>
    <%= form.select :interest, (0..5) %>
  </div>

  <div class="field">
    <%= form.label :experience %>
    <%= form.select :experience, (0..5) %>
  </div>

  <div class="field">
    <%= form.label :overall %>
    <%= form.select :overall, (0..5) %>
  </div>

  <%= form.hidden_field :participant_id, value: params['participant_id'] %>
  <%= form.hidden_field :recruiter_id, value: params['recruiter_id'] %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
