<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @available_position.content %>
</p>

<p>
  <strong>Applications count:</strong>
  <%= @available_position.applications_count %>
</p>

<%= link_to 'Edit', edit_available_position_path(@available_position) %> |
<%= link_to 'Back', available_positions_path %>
