<h1>RecruitR</h1>
<p>Edit available positions:</p>
<p>
<% @available_positions.each do |pos| %>
    <%= pos.title %>

    <% pos.skills.each do |type| %>
        <%= type.content %>
      <% end %> # types loop

    <%= link_to "Show", pos %>
    <%= link_to "Edit", edit_available_position_path(pos) %>
    <%= link_to "Destroy", pos, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
</p>


<%= link_to "Add new position", new_available_position_path %>