<%= form_for @available_position do |f| %>
    <p>
      <%= f.label :position_title %><br />
      <%= f.text_field :position_title %>
    </p>
    # <%= f.fields_for :skills do |builder| %>
    #   <%= render "skill_fields", :f => builder %>
    # <% end %>
    <p><%= f.submit "Submit" %></p>
  <% end %>
  <%= f.error_messages %>
